.message__container_type_download {
  box-shadow: 0px 0px 0px 1.5px var(--color-mint);
  color: var(--color-mint);
}

.message__container_type_download .message__progress-bar-line {
  background: var(--color-mint);
}